.h-120{
  height: 28rem;
}

.bg-politicamente{
  background: rgb(65,65,63);
  background: radial-gradient(circle, rgba(65,65,63,1) 0%, rgba(135,134,135,1) 100%);
}

.thumb{
  display: none !important;
}

.thumbs-wrapper{
  display: none !important;
}

.bg-primary-color{
  background: #5d135a;
}